
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial',sans-serif;
}

body{
    background: #fff0f5;
    color: #333;
}

/*navbar*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #ff69b4;
}
nav {
    display: flex;
    list-style: none;
}

nav ul li{
    margin-left: 20px;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/*hero*/
.hero{
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(#ffb6c1, #fff);
}

.hero h1{
    font-size: 40px;
}

.hero button{
    margin-top: 20px;
    padding: 12px 30px;
    background: #ff69b4;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

/*sections*/
section{
    padding: 60px 20px;
    text-align: center;
    margin: 0;
}

/*services*/
.service-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service{
    background: white;
    width: 250px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

.service img{
    width: 100%;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}

h2{
    margin-bottom: 20px;
}

/*Gallery*/
#gallery{
    text-align: center;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    margin-top: 30px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    gap: 15px;
}

.gallery img{
    width: 100%;
    height: 180px; /*contorols size*/
    object-fit: cover;
    border-radius: 15px;
}

.gallery img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

#about{
    text-align: center;
    padding: 60px 20px;
    background: #fff5fa;
}
.about-text{
    max-width: 700px;
    margin: auto;
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}

#follow{
    text-align: center;
    padding: 50px 20px;
}

.social-icons{
    margin-top: 20px;
}

.social-icons a{
    display: inline-block;
    margin: 10px;
    width: 45px;
    height: 45px;
    background: #ff69b4;
    color: white;
    border-radius: 50%;
    line-height: 45px;
    font-size: 20px;
}
/*footer*/
footer{
    background: #ff69b4;
    color: white;
    text-align: center;
    padding: 20px;
}
/*responsive*/
@media(max-width:600px){
    .service-box,
    .gallery{
        flex-direction: column;
        align-items: center;
    }
}